 body {
      margin: 0;
      background-color: #121212; /* fondo oscuro */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
    }

    .header{
        color:white;
    }

.fila_fotos{
    width: 100%;
    display: flex;
    align-items: center;
          flex-direction: row;
                justify-content: space-evenly;

          

}

.fotillo{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.chichon{
    background-image: url("img/chichon.jpg");
    background-size: 300%;
    background-position: center;
}

.milka{
    background-image: url("img/milka.jpg");
    background-size: 100%;
    background-position: 0px 0px;
}

.leo{
    background-image: url("img/leo.jpg");
    background-size: 100%;
    background-position: center;
}


    .background {
      background-image: url("img/background.jpg");
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      width: 100%;
      margin-block: 30px ;
      max-width: calc(100% - 40px);
      height: 800px;

      border-radius: 10px;
    }


    .text{
        
        padding:60px;

    }
    
    .parrafo{
        
    }