 body {
     
     background-color: #121212;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
     
 }

 .page{
 max-width: 550px;
 display: flex;
 flex-direction: column;
      align-items: center;
 }

 .header {
     color: white;
     margin: 0px 20px;
    
 }

 .fila_fotos {
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-evenly;

 }

 .fotillo {
     width: 80px;
     height: 80px;
     border-radius: 100px;
 }

 .chichon {
     background-image: url("img/chichon.jpg");
     background-size: 300%;
     background-position: center;
 }

 .milka {
     background-image: url("img/milka.jpg");
     background-size: 100%;
     background-position: 0px 0px;
 }

 .leo {
     background-image: url("img/leo.jpg");
     background-size: 100%;
     background-position: center;
 }


 .background {
     background-image: url("img/background.jpg");
     background-size: contain;
     background-position: top;
     background-repeat: no-repeat;
     width: 100%;
     margin-block: 30px;
    
     height: 1000px;
     border-radius: 10px;
     
 }


 .text {
     padding: 70px 110px;
     font-family: "Macondo", cursive;
     color: rgb(36, 21, 21);
 }

#pista{
    width: auto;
    height: 200px;
    background-color: black;
    margin: 10PX;
}

#myDialog{
    border: none;
    overflow-x: hidden;
}

.dialog-body{
    display: flex;
    flex-direction: column;
}

.dialog-btns{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight {
  border: 5px solid #ff9800 !important;
  transition: border 0.2s ease;
  box-sizing: border-box
}

.close-btn{
    border: none;
    color: white;
    background-color: rgb(0, 89, 255);
    width: 200px;
    padding: 20px;
       font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5em;
  border-radius: 10px;
}

#pistaBtn{
    border: none;
    width: 70px;
    font-size: 0.8em;
       font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 580px) {
  .text {
         padding: 50px 70px;
  }
}

@media (max-width: 400px) {
  .text {
    font-size: 0.8em;
         padding: 50px 70px;
  }
}
